#body {
    display: grid;
    grid-template-rows: 3fr 10fr;
    grid-template-areas: "header" "main";
    width: 100%;
}

#header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1, 5fr 4fr;
}

#crew {
    display: grid;
    grid-area: 1/1;
    font-weight: bold;
    align-self: flex-end;
    font-size: 40px;
    margin-left: 20%;
}

#who {
    display: grid;
    grid-area: 1/2;
    align-self: flex-end;
    font-weight: bold;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

#header_text {
    display: grid;
    grid-area: 2/2;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-start;
    line-height: 1.5em;
}


/* main Section */

#main {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "person1 person2 person3" "person4 person5 person6";
}

#person1 {
    display: grid;
    grid-area: person1;
}

#person2 {
    display: grid;
    grid-area: person2;
    margin-top: 10%;
}

#person3 {
    display: grid;
    grid-area: person3;
}

#person4 {
    display: grid;
    grid-area: person4;
}

#person5 {
    display: grid;
    grid-area: person5;
    margin-top: 10%;
}

#person6 {
    display: grid;
    grid-area: person6;
}

#man001 {
    display: grid;
    width: 75%;
    border-radius: 5px;
}

#name001 {
    display: grid;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#position001 {
    display: grid;
    position: absolute;
    transform: rotate(90deg);
    font-size: 14px;
    margin-top: 4%;
    margin-left: 21%;
}

#woman001 {
    display: grid;
    width: 75%;
    border-radius: 5px;
}

#name002 {
    display: grid;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#position002 {
    display: grid;
    transform: rotate(90deg);
    font-size: 14px;
    margin-top: 4%;
    margin-left: 22%;
    position: absolute;
}

#man002 {
    display: grid;
    width: 75%;
    border-radius: 5px;
}

#name003 {
    display: grid;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#position003 {
    display: grid;
    transform: rotate(90deg);
    font-size: 14px;
    margin-top: 3%;
    margin-left: 23%;
    position: absolute;
    font-weight: bold;
}

#woman002 {
    display: grid;
    gap: ;
    width: 75%;
    border-radius: 5px;
}

#name004 {
    display: grid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#position004 {
    display: grid;
    position: absolute;
    transform: rotate(90deg);
    font-size: 14px;
    margin-top: 3%;
    margin-left: 22%;
    font-weight: bold;
}

#man003 {
    display: grid;
    width: 75%;
    border-radius: 5px;
}

#name005 {
    display: grid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#position005 {
    display: grid;
    transform: rotate(90deg);
    font-size: 14px;
    margin-top: 3%;
    margin-left: 23%;
    position: absolute;
    font-weight: bold;
}

#man004 {
    display: grid;
    width: 75%;
    border-radius: 5px;
}

#name006 {
    display: grid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#position006 {
    display: grid;
    transform: rotate(90deg);
    font-size: 14px;
    margin-top: 3%;
    margin-left: 23%;
    position: absolute;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    #body {
        display: flex;
        flex-direction: column;
    }
    #header {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }
    #crew {
        display: flex;
        margin-top: 10%;
        margin-right: 10%;
    }
    #who {
        display: flex;
        margin-top: 10%;
        margin-right: 55%;
    }
    #header_text {
        display: flex;
        margin-top: 10%;
        margin-left: 10%;
    }
    #main {
        margin-top: 20%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    #person1 {
        justify-self: center;
        display: flex;
    }
    #person2 {
        display: flex;
    }
    #person3 {
        display: flex;
    }
    #person4 {
        display: flex;
        ;
    }
    #person5 {
        display: flex;
    }
    #person6 {
        display: flex;
    }
    #man001 {
        display: flex;
        width: 60%;
        height: auto;
        border-radius: 5px;
        margin-left: 10%;
    }
    #name001 {
        display: flex;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        margin-top: 90%;
        margin-left: 10%;
    }
    #position001 {
        display: flex;
        position: absolute;
        transform: rotate(90deg);
        font-size: 10px;
        margin-top: 10%;
        margin-left: 60%;
    }
    #woman001 {
        margin-top: 10%;
        display: flex;
        width: 60%;
        border-radius: 5px;
        margin-left: 25%;
        height: auto;
    }
    #name002 {
        display: flex;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        margin-top: 95%;
        margin-left: 25%;
    }
    #position002 {
        display: flex;
        transform: rotate(90deg);
        font-size: 10px;
        margin-top: 18%;
        margin-left: 78%;
        position: absolute;
    }
    #man002 {
        margin-top: 10%;
        display: grid;
        width: 60%;
        border-radius: 5px;
        margin-left: 10%;
        height: auto;
    }
    #name003 {
        display: grid;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        margin-top: 95%;
        margin-left: 10%;
    }
    #position003 {
        display: grid;
        transform: rotate(90deg);
        font-size: 10px;
        margin-top: 15%;
        margin-left: 65%;
        position: absolute;
        font-weight: bold;
    }
    #woman002 {
        margin-top: 10%;
        display: grid;
        width: 60%;
        border-radius: 5px;
        margin-left: 25%;
        height: auto;
    }
    #name004 {
        display: grid;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        position: absolute;
        margin-top: 95%;
        margin-left: 25%;
    }
    #position004 {
        display: grid;
        position: absolute;
        transform: rotate(90deg);
        font-size: 10px;
        margin-top: 18%;
        margin-left: 78%;
        font-weight: bold;
    }
    #man003 {
        display: grid;
        width: 60%;
        border-radius: 5px;
        margin-left: 10%;
        height: auto;
    }
    #name005 {
        display: flex;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        position: absolute;
        margin-top: 85%;
        margin-left: 8%;
    }
    #position005 {
        display: flex;
        transform: rotate(90deg);
        font-size: 10px;
        margin-top: 9%;
        margin-left: 65%;
        position: absolute;
        font-weight: bold;
    }
    #man004 {
        margin-top: 10%;
        display: flex;
        width: 60%;
        border-radius: 5px;
        margin-left: 25%;
        height: auto;
    }
    #name006 {
        display: flex;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        position: absolute;
        margin-top: 95%;
        margin-left: 25%;
    }
    #position006 {
        display: flex;
        transform: rotate(90deg);
        font-size: 10px;
        margin-top: 18%;
        margin-left: 78%;
        position: absolute;
        font-weight: bold;
    }
}